.card-main-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    padding: 1rem;
    row-gap: 3rem;
  }

  .card-container{
    background: #eee5e9;
    border: none;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation:ease-in;
    justify-content: center;
    align-items: center;
  }
  .card-container:hover{
  transform:scale(1.03);
  box-shadow:0px 0px 15px 0px;
  transition: .2s;
  }
  .card-image img{
    min-width: 100%;
    height: auto;
  overflow: hidden;
  height: 200px;
  }
  
  .card-body{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  
  h3,p {
  margin: 0;
  padding:0;
  text-align: center;
  }
  
  .card-title{
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
.card-price{
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

.cart-icon {
  display: flex;
  text-align: end;
  margin-right: 2rem;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  width: 4rem;
  height: 4rem;
}
 


  @media (max-width: 768px) {
    .card-main-body {
      grid-template-columns:1fr ;
      justify-content: center;
    }
  }